/**
 * @name  Neon among us
 * @author trollplant
 * @version 1.0.1
* @description a cool neon theme made with discord+ https://betterdiscord.app/theme/Discord%2B
*/

@import url(//plusinsta.github.io/discord-plus/DiscordPlus-source.theme.css);

/* I've commented most of these values so you can change them yourself.
   If you're having trouble, or you want to do more than what these values
   allow for, drop by our server and we can probably help you out! */

/* Font import */
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700|Righteous);
/* This link loads fonts. Go to fonts.google.com and have a look!
If there's any fonts you like, click them, select styles that are
the closest to 400 and 700. If you want more fonts, back out to the
main page and add more. When you're done, click "View selected families"
in the top right, click the Embed tab, and replace the entire line with
the "CSS rules" it gives you. After that, just set the fonts below! */

:root {
/* Background image. Falls back to accent color if invalid.
   To use an image on your computer, send it anywhere on Discord,
   then right-click and Copy Link, then paste it between the ()'s'. */
--dplus-background: url(https://i.imgur.com/YwAqvXw.png)
					/* default:	80vh			(height of the settings modal, px/vh)															*/

;

/* Accent color, used to decorate the UI with colors. */
--dplus-accent-ui: #cb2c96;

/* Fonts */
--dplus-font-ui:  'Noto Sans JP';
--dplus-font-body:  'Noto Sans JP';
--dplus-font-header:  'Noto Sans JP';

/* Round corner sizes, measured in pixel radius
   Set avatar/server to 50% for circles
   UI radius must be in pixels */
--dplus-radius-ui: 10px;
--dplus-radius-avatar: 20%;
--dplus-radius-server: 20%;

/* This determines margins and padding */
--dplus-spacing-ui: 10px;
--dplus-spacing-app: 10px;

/* The Home icon */
--dplus-icon-home-dark: url(//plusinsta.github.io/discord-plus/assets/discord/home_dark.svg);
--dplus-icon-home-light: url(//plusinsta.github.io/discord-plus/assets/discord/home_light.svg);

/* Icon sizes */
--dplus-icon-avatar-chat: 60px;
--dplus-icon-avatar-list: 32px;
--dplus-icon-avatar-profile: 80px;

--dplus-icon-server-sidebar: 48px;
--dplus-icon-server-list: 32px;

/* Scrollbar width */
--dplus-scrollbar-width: 10px;

/* Blur percentage. Set to 0 to disable blur.
   Performance may be affected by this option. */
--dplus-blur-scale: 100;
}


/* Background covers */
.theme-dark {
	--dplus-bgc-ui-base: hsla(181, 72%, 15%, 0.74);
	--dplus-bgc-ui-base-hover:hsla(181, 72%, 15%, 0.74);
	--dplus-bgc-ui-card:hsla(181, 72%, 15%, 0.74);
	--dplus-bgc-ui-card-hover: hsla(181, 72%, 15%, 0.74);
	--dplus-bgc-chatmsg: hsla(319, 89%, 11%, 0.74);
	--dplus-bgc-chatmsg-hover: hsla(318, 69%, 19%, 0.74);
	--dplus-bgc-popout:  hsla(318, 85%, 46%, 0.74);
	--dplus-bgc-button: hsla(181, 72%, 15%, 0.74);
	--dplus-bgc-button-hover: hsla(181, 85%, 46%, 0.74);
	--dplus-bgc-server-button: hsla(181, 85%, 46%, 0.74);
	--dplus-bgc-server-button-hover:  hsla(181, 85%, 46%, 0.74);
}

